<!DOCTYPE html>
<html>
<head>
    <title><%=title%> - TWD ProjectBoard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://octicons.github.com/components/octicons/octicons/octicons.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include navigation %>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Current Filter: <%=filter%></h2>
            <% for(var i=0; i < projects.length; i++) {%>
            <% var project = projects[i];%>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="/project/<%=project.id%>"><%=project.name%></a>
                    </div>
                    <div class="panel-body">
                        <p>Status: <%=project.status%></p>
                        <p>Posted on: <%=project.timestamp%></p>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Available Filters</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li <%if(filter=='all'){%>class="active"<%}%>>
                            <a href="/projects/all/<%=order%>">All Projects</a>
                        </li>
                        <li <%if(filter=='proposed'){%>class="active"<%}%>>
                            <a href="/projects/proposed/<%=order%>">Proposed Projects</a>
                        </li>
                        <li <%if(filter=='available'){%>class="active"<%}%>>
                            <a href="/projects/available/<%=order%>">Approved and Available Projects</a>
                        </li>
                        <li <%if(filter=='in-progress'){%>class="active"<%}%>>
                            <a href="/projects/in-progress/<%=order%>">In-Progress Projects</a>
                        </li>
                        <li>Sort by:</li>
                        <li <%if(order=='newest'){%>class="active"<%}%>>
                            <a href="/projects/<%=filter%>/newest">Newest</a>
                        </li>
                        <li <%if(order=='oldest'){%>class="active"<%}%>>
                            <a href="/projects/<%=filter%>/oldest">Oldest</a>
                        </li>
                        <li <%if(order=='popular'){%>class="active"<%}%>>
                            <a href="/projects/<%=filter%>/popular">Most Popular</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer %>
</body>
</body>
</html>